@media (min-width:56em) {
  .hide-lg {
    display: none;
  }

  .show-lg {
    display: block;
  }

  .show-md {
    display: none;
  }

  .show-sm {
    display: none;
  }
}

@media (max-width:55em) {
  .hide-md {
    display: none;
  }

  .show-md {
    display: block;
  }

  .show-lg {
    display: none;
  }

  .show-sm {
    display: none;
  }

  .cm12 {
    width: 100%;
  }

  .cm11 {
    width: 91.66%;
  }

  .cm10 {
    width: 83.33%;
  }

  .cm9 {
    width: 75%;
  }

  .cm8 {
    width: 66.66%;
  }

  .cm7 {
    width: 58.33%;
  }

  .cm6 {
    width: 50%;
  }

  .cm5 {
    width: 41.66%;
  }

  .cm4 {
    width: 33.33%;
  }

  .cm3 {
    width: 25%;
  }

  .cm2 {
    width: 16.66%;
  }

  .cm1 {
    width: 8.33%;
  }
}

@media (max-width:30em) {
  .hide-sm {
    display: none;
  }

  .hide-md {
    display: block;
  }

  .show-sm {
    display: block;
  }

  .show-lg {
    display: none;
  }

  .show-md {
    display: none;
  }

  .cs12 {
    width: 100%;
  }

  .cs11 {
    width: 91.66%;
  }

  .cs10 {
    width: 83.33%;
  }

  .cs9 {
    width: 75%;
  }

  .cs8 {
    width: 66.66%;
  }

  .cs7 {
    width: 58.33%;
  }

  .cs6 {
    width: 50%;
  }

  .cs5 {
    width: 41.66%;
  }

  .cs4 {
    width: 33.33%;
  }

  .cs3 {
    width: 25%;
  }

  .cs2 {
    width: 16.66%;
  }

  .cs1 {
    width: 8.33%;
  }
}
