.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table th, .table td {
  padding: 0.5em;
  text-align: left;
}

.table tbody > :nth-child(2n-1) {
  background-color: var(--colors-light-gray);
}
